{% extends 'flatpages/default.html' %}
{% block main %}

  <table align="center">
        <tr>
            <th>Ингредиент</th>
            <th>Количество</th>
        </tr>
        <tr>
            <td>Свинина на кости (грудинка, ребрышки)</td>
            <td>около 500 г</td>
        </tr>
        <tr>
            <td>Вода</td>
            <td>около 2 литров</td>
        </tr>
        <tr>
            <td>Картофель</td>
            <td>3 шт. среднего размера</td>
        </tr>
        <tr>
            <td>Капуста белокочанная свежая</td>
            <td>200 г</td>
        </tr>
        <tr>
            <td>Морковь</td>
            <td>1 крупная штука</td>
        </tr>
        <tr>
            <td>Свёкла</td>
            <td>2 средние штуки</td>
        </tr>
        <tr>
            <td>Репчатый лук</td>
            <td>1 средняя луковица</td>
        </tr>
        <tr>
            <td>Чеснок</td>
            <td>2 зубчика</td>
        </tr>
        <tr>
            <td>Томаты свежие или томатная паста</td>
            <td>2 столовые ложки</td>
        </tr>
        <tr>
            <td>Растительное масло</td>
            <td>2–3 столовые ложки</td>
        </tr>
        <tr>
            <td>Сахар</td>
            <td>1 чайная ложка</td>
        </tr>
        <tr>
            <td>Лимонный сок или уксус</td>
            <td>1 столовая ложка</td>
        </tr>
        <tr>
            <td>Лавровый лист</td>
            <td>2 листа</td>
        </tr>
        <tr>
            <td>Перец чёрный молотый</td>
            <td>по вкусу</td>
        </tr>
        <tr>
            <td>Соль</td>
            <td>по вкусу</td>
        </tr>
        <tr>
            <td>Зелень (укроп, петрушка)</td>
            <td></td>
        </tr>
        <tr>
            <td>Сметана (для подачи)</td>
            <td>по желанию</td>
        </tr>
    </table>
<hr>
{% endblock main %}
