{% extends 'flatpages/default.html' %}
{% block main %}
<!--<h1 align="center">Рецепт самого вкусного борща в мире</h1>-->
<br>
<br>
<h2 align="center">Стишок про борщ</h2>
<br>
<p align="center" ><big><i>Варится борщ, вкусно пахнетbp12345,<br>
Свёкла шепчет: «Зажигай огня!<br>
Дружба картошки и капусты —<br>
Сделают вкусным каждый день тебя».<br>
Запах специй, мамины руки,<br>
Щедро сыплет перчик в котёл.<br>
Любят дети, взрослые смакуют,<br>
С ним тепло зимой придёт.</i></big></p>
<hr>
<h2 align="center">Рецепт</h2>
<ol>
<li><strong> Варим бульон:</strong></li>
</ol>
<ul>
<li>Промойте мясо холодной водой, положите в кастрюлю и залейте двумя литрами воды.</li>
<li>Доведите воду до кипения, снимите пену, уменьшите огонь и варите около часа-полтора до готовности мяса.</li>
<li>Посолите немного бульон и добавьте лавровый лист.</li>
</ul>
<ol start="2">
<li><strong> Готовим овощи:</strong></li>
</ol>
<ul>
<li>Очистите картофель, морковь, свёклу и лук.</li>
<li>Нарежьте картофель кубиками, капусту тонкими полосками, лук мелко порубите, морковь натрите на крупной терке.</li>
<li>Свёклу очистите и натрите на мелкой терке.</li>
</ul>
<ol start="3">
<li><strong> Обжариваем овощи:</strong></li>
</ol>
<ul>
<li>Разогрейте сковороду с растительным маслом.</li>
<li>Положите туда нарезанный лук и обжарьте до прозрачности.</li>
<li>Добавьте морковь и обжаривайте ещё пару минут.</li>
<li>Далее кладём свёклу, сахар, лимонный сок или уксус, перемешайте и тушите под крышкой около 10 минут.</li>
<li>Потом добавьте помидоры или томатную пасту, жарьте ещё минуту-две.</li>
</ul>
<ol start="4">
<li><strong> Закладываем ингредиенты в суп:</strong></li>
</ol>
<ul>
<li>Когда мясо сварилось, достаньте его из кастрюли, отделите от костей и нарежьте кусочками.</li>
<li>Верните мясо обратно в бульон.</li>
<li>Теперь добавляем подготовленные овощи: сначала картофель, дайте повариться минут пять-десять.</li>
<li>После картофеля отправляем в кастрюлю капусту и пассированные овощи.</li>
<li>Варите всё вместе ещё 15-20 минут до полной готовности овощей.</li>
</ul>
<ol start="5">
<li><strong> Завершаем процесс:</strong></li>
</ol>
<ul>
<li>За две-три минуты до окончания готовки добавьте измельчённый чеснок, соль и перец по вкусу.</li>
<li>Перед подачей выключите плиту и дайте борщу настояться хотя бы полчаса.</li>
</ul>
<hr>

{% endblock main %}